.featured{
    height: 90vh;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info{
        width: 40%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        .movie_title
    }
}