.featured{
    height: 90vh;
    position: relative;

    .category{
        position: absolute;
        to
    }

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info{
        width: 40%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .movie_title{
            font-size: 80px;
            text-transform: uppercase;
            font-weight: 800;
        }
        .decs{
            margin: 10px 0px;
            font-size: 16px;
        }

        .buttons{
            display: flex;
            align-items: center;
            button{
                display: flex;
                align-items: center;
                border: none;
                padding: 10px 20px;
                font-size: 18px;
                font-weight: 500;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                &.pley{
                    background-color: white;
                    color: var(--main-color);
                }
                &.more{
                    background-color: gray;
                    color: white;
                }
                span{
                    margin-left: 5px;
                }
            }
        }
    }
}