.featured{
    height: 90vh;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info{
        width: 40%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .movie_title{
            font-size: 80px;
            text-transform: uppercase;
        }
        .decs{
            
        }
    }
}